
        <head>
        <style>
        h1 {
          text-align: center;
        }
        </style>
        </head>
        <body>
            <!-- <div class='card'>

    
          
                <div class='card-header'>
                  {{pageTitle}}
                 
                </div> -->
        <h1>{{pageTitle}}</h1>
        
        </body>
    
<!-- 
    <div class='card-body'>
        <div class='row'>
          <div class='col-md-8'>
            <div class='row'>
              <div class='col-md-4'>Name:</div>
              <div class='col-md-8'>{{product.productName}}</div>
            </div> -->


    <!-- <select name="Select Country" id="#">
        <option selected="selected" value="one">Select Country</option>
        <option value="two">India</option>
        <option value="three">Philippines</option>
    
    </select>
    <select name="Select Location" id="#">
        <option selected="selected" value="one">Select Location</option>
        <option value="two">Hyderabad</option>
        <option value="three">Bangalore</option>
        <option value="three">Chennai</option>
    </select>

    <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select Country</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>India</button>
              <button ngbDropdownItem>Philippines</button>
            </div>
          </div>
        </div>

        <div class="dropdown" mdbDropdown>

            <button mdbDropdownToggle mdbBtn color="primary" class="dropdown-toggle waves-light" type="button"
              mdbWavesEffect>
              Select Location
            </button>
          
            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" href="#">Hyderabad</a>
              <a class="dropdown-item" href="#">Bengaluru</a>
              <a class="dropdown-item" href="#">Chennai</a>
            </div>
          </div>


          <div class="btn-group" mdbDropdown>
            <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light"
              mdbWavesEffect>
              Basic dropdown
            </button>
          
            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>

          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">India</li>
            <li class="list-group-item">Philippines</li>
          </ul> -->

          <div class="btn-group" role="group" aria-label="Basic example" >
            <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>India</button>
            <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Philippines</button>
          </div>

        <div class="dropdown" mdbDropdown>

            <button mdbDropdownToggle mdbBtn color="primary" class="dropdown-toggle waves-light" type="button"
              mdbWavesEffect>
              Select Location
            </button>
          
            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" href="#">Hyderabad</a>
              <a class="dropdown-item" href="#">Bengaluru</a>
              <a class="dropdown-item" href="#">Chennai</a>
            </div>
          </div>

          <div class="dropdown" mdbDropdown>

            <button mdbDropdownToggle mdbBtn color="primary" class="dropdown-toggle waves-light" type="button"
              mdbWavesEffect>
              Select Building/Tower
            </button>
          
            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" href="#">Tower 1</a>
              <a class="dropdown-item" href="#">Tower 2</a>
              <a class="dropdown-item" href="#">Tower 3</a>
            </div>
          </div>

          <div class="dropdown" mdbDropdown>

            <button mdbDropdownToggle mdbBtn color="primary" class="dropdown-toggle waves-light" type="button"
              mdbWavesEffect>
              Select Floor
            </button>
          
            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" href="#">Hyderabad</a>
              <a class="dropdown-item" href="#">Bengaluru</a>
              <a class="dropdown-item" href="#">Chennai</a>
            </div>
          </div>

